@CHARSET "UTF-8";
table{
	margin-left : auto;
	margin-right : auto;
	width:100%;
	border: 0px;
	border-collapse: collapse;
	text-align: center;
}
.playList-td{
	font-size: 13px;
	font-style: inherit;
	font-weight: bold;
	color: #00003F;
}
#search{
	height: 150px;
}
#playList_scroll{
	overflow:scroll; 
    overflow-x:hidden;
    height:380px;
}
.hoverList li:HOVER{
	color: #F15F5F;
}
.hoverList li{
	list-style-type: none;
	margin-bottom: 10px;
	font-size: 20px;
}
#stopBtn{
	display: inline;
}
#playBtn{
	display: none;
}
.shuffleClick{
	border-color: gray;
	border-style: solid;
}
.scrollBox{
	overflow:scroll; 
    overflow-x:hidden; 
    height:280px;
}
.input_text{
	text-align: center;
}
.result-Scroll{
	overflow:scroll; 
    overflow-x:hidden;
    height:300px;
}
.button-div{
	text-align: center;
}
.videoBtn-click{
	border:  2px;
	border-style: solid;
	border-color: #FF2424;
}
.now-playing{
	background-color: #B778FF;
}
.search-click{
	background-color: #B778FF;
}
#login-plz{
	font-size: 50px;
}