@CHARSET "UTF-8";
table{
	margin-left : auto;
	margin-right : auto;
	width: 115px;
	border: 0px;
	border-collapse: collapse;
	text-align: center;
}
.playList-td{
	font-size: 13px;
	font-style: inherit;
	font-weight: bold;
	color: #00003F;
}
#search{
	height: 150px;
}
#stopBtn{
	display: inline;
}
#playBtn{
	display: none;
}
.shuffleClick{
	border-color: gray;
	border-style: solid;
}
.tab-pane{
	overflow:scroll; 
    overflow-x:hidden; 
    height:470px;
}
.add-tab-table{
	overflow:scroll; 
    overflow-x:hidden; 
    height:280px;
}
.input_text{
	text-align: center;
}
.result-Scroll{
	overflow:scroll; 
    overflow-x:hidden;
    height:300px;
    width: 100%;
    background-color: white;
    color: black;
}
.button-div{
	text-align: center;
}
.now-playing{
	background-color: #B778FF;
}
.search-click{
	background-color: #B778FF;
}
.edit-click{
	background-color: #ED9595;
}
#login-plz{
	font-size: 50px;
}
.section-title{
	font-size: 35px;
}
.delCancelBtn{
	display: none;
}
#searchKey{
	height: 45px;
}
.checkAdd{
	display: none;
}
#searchResult{
	width: 100%;
}
.tabH1, #tabInput::-webkit-input-placeholder, .tabadd-btn {
  font-family: 'roboto', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tabH1{
  height: 40px;
  width: 100%;
  font-size: 21px;
  background: #ffffff;
  color: black;
  line-height: 50%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

#tabForm {
  box-sizing: border-box;
  width: 260px;
  margin: 100px auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
  border-radius: 3px;
  background-color: white;
}
#AddtabForm {
  box-sizing: border-box;
  width: 660px;
  margin: 100px auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
  border-radius: 3px;
  background-color: white;
}
#tabForm h1 {
  box-sizing: border-box;
  padding: 20px;
}
#AddtabForm h1 {
  box-sizing: border-box;
  padding: 20px;
}
#tabInput {
  margin: 40px 25px;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #34557c;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #34557c 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #34557c 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #34557c;
}
#tabInput:focus, #tabInput:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
#tabInput:focus::-webkit-input-placeholder, #tabInput:valid::-webkit-input-placeholder {
  color: #0e053d;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  visibility: visible !important;
}
.tabadd-btn {
  border: none;
  background: #26576f;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 200px;
  color: white;
  margin-left: 25px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.tabadd-btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}
#delBtn{
	background: #ff6868;
}
.tab-list-click{
	background-color: #A5DE9F;
}
.delete-tab{
	display: none;
}
.top100-ranking{
	background-color: #9eaed8;
}
#playList-section{
	display: none;
}
#search-section{
	display: none;
}
		body {
  font-family: 'Architects Daughter', sans-serif;
}

#paper-back {
  width: 100%;
  height: 100vh;
  background-color: #243040;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 23px;
}
#paper-back nav {
  padding: 120px 34px;
}
#paper-back nav a {
  display: block;
  margin-bottom: 25px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

#paper-window {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 2;
}
#paper-window.tilt {
  overflow: hidden;
  pointer-events: none;
}
#paper-window.tilt #paper-front {
  -webkit-transform: rotate(10deg) translateZ(0);
          transform: rotate(10deg) translateZ(0);
}

#paper-front {
  pointer-events: auto;
  position: relative;
  z-index: 3;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  -webkit-transform-origin: center 70%;
          transform-origin: center 70%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#container section {
  height: 600px;
  text-align: center;
}
#container section:first-of-type {
  padding-top: 10vh;
}
#container section:first-of-type h1 {
  font-size: 35px;
}
#container section:first-of-type p {
  font-size: 25px;
}
@media (max-width: 600px) {
  #container section:first-of-type {
    padding-top: 15vh;
  }
  #container section:first-of-type h1 {
    font-size: 30px;
  }
  #container section:first-of-type p {
    font-size: 18px;
  }
}
#container section:nth-of-type(2n) {
  background-color: #edf1f5;
}

.hamburger {
  position: fixed;
  z-index: 4;
  top: 30px;
  left: 30px;
  width: 45px;
  height: 34px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.hamburger span {
  position: relative;
}
.hamburger span, .hamburger span:before, .hamburger span:after {
  display: block;
  width: 45px;
  height: 6px;
  background-color: #243040;
  border-radius: 2px;
}
.hamburger span:before, .hamburger span:after {
  content: '';
  position: absolute;
}
.hamburger span:before {
  bottom: -14px;
}
.hamburger span:after {
  bottom: -28px;
}

.close {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 45px;
  height: 34px;
  cursor: pointer;
}
.close:before, .close:after {
  content: '';
  position: absolute;
  display: block;
  width: 45px;
  height: 6px;
  top: 50%;
  background-color: white;
  border-radius: 2px;
}
.close:before {
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.close:after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}
.click-play-option{
	background-color: #f07982;
}
.add-tab-list{
	background-color: #d5d5d5;
	border-radius: 2px;
	color: white;
	font-size: 20px;
}
.add-tab-list-none{
	background-color: #26576f;
	border-radius: 2px;
	color: white;
	font-size: 20px;
}
#tabMusic-100list{
	display: none;
}
#play-view{
	display: none;
}