@CHARSET "UTF-8";
table{
	margin-left : auto;
	margin-right : auto;
	width: 100%;
	border: 0px;
	border-collapse: collapse;
	text-align: center;
}
.playList-td{
	font-size: 13px;
	font-style: inherit;
	font-weight: bold;
	color: #00003F;
}
#search{
	height: 150px;
}
#stopBtn{
	display: inline;
}
#playBtn{
	display: none;
}
.shuffleClick{
	border-color: gray;
	border-style: solid;
}
.tab-pane{
	overflow:scroll; 
    overflow-x:hidden; 
    height:280px;
}
#tabMusic-list{
	overflow:scroll; 
    overflow-x:hidden; 
    height:280px;
}
.input_text{
	text-align: center;
}
.result-Scroll{
	overflow:scroll; 
    overflow-x:hidden;
    height:300px;
    width: 100%;
    background-color: white;
    color: black;
}
.button-div{
	text-align: center;
}
.videoBtn-click{
	border:  2px;
	border-style: solid;
	border-color: #FF2424;
}
.now-playing{
	background-color: #B778FF;
}
.search-click{
	background-color: #B778FF;
}
.edit-click{
	background-color: #ED9595;
}
#login-plz{
	font-size: 50px;
}
.section-title{
	font-size: 55px;
}
.delCancelBtn{
	display: none;
}
#searchKey{
	height: 45px;
}
.checkAdd{
	display: none;
}
#searchResult{
	width: 100%;
}
.tabH1, #tabInput::-webkit-input-placeholder, .tabadd-btn {
  font-family: 'roboto', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tabH1{
  height: 100px;
  width: 100%;
  font-size: 18px;
  background: #18aa8d;
  color: white;
  line-height: 150%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

#tabForm {
  box-sizing: border-box;
  width: 260px;
  margin: 100px auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
  border-radius: 3px;
  background-color: white;
}
#AddtabForm {
  box-sizing: border-box;
  width: 660px;
  margin: 100px auto 0;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
  border-radius: 3px;
  background-color: white;
}
#tabForm h1 {
  box-sizing: border-box;
  padding: 20px;
}
#AddtabForm h1 {
  box-sizing: border-box;
  padding: 20px;
}
#tabInput {
  margin: 40px 25px;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #1abc9c;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #0e6252;
}
#tabInput:focus, #tabInput:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
#tabInput:focus::-webkit-input-placeholder, #tabInput:valid::-webkit-input-placeholder {
  color: #1abc9c;
  font-size: 11px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  visibility: visible !important;
}
.tabadd-btn {
  border: none;
  background: #1abc9c;
  cursor: pointer;
  border-radius: 3px;
  padding: 6px;
  width: 200px;
  color: white;
  margin-left: 25px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.tabadd-btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}
.tab-list-click{
	background-color: #A5DE9F;
}
.delete-tab{
	display: none;
}
.top100-ranking{
	background-color: #9eaed8;
}
#playList-section{
	display: none;
}
#search-section{
	display: none;
}