<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jy.mypro.mapper.musicBox">
 	<insert id="sign_in">
 		insert into music_user(user_id, user_pw, user_email) values(#{user_id}, #{user_pw}, #{user_email})
 	</insert>
 	<select id="login_user" resultType="MusicUserVO">
 		select * from music_user
 			where user_id = #{user_id} and user_pw = #{user_pw}
 	</select>
</mapper>