<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jy.mypro.mapper.musicBox">
 	<insert id="sign_in">
 		insert into music_user(user_id, user_pw, user_email) values(#{user_id}, #{user_pw}, #{user_email})
 	</insert>
 	<select id="login_user" resultType="MusicUserVO">
 		select * from music_user
 			where user_id = #{user_id} and user_pw = #{user_pw}
 	</select>
 	<select id="playList" resultType="MusicPlayList">
 		select * from user_playlist
 			where user_id = #{user_id}
 			order by substr(music_index,instr(music_index,'_')+1)*1
 	</select>
 	<insert id="add_Music">
 		insert into user_playlist(music_index,user_id, music_id, music_name, add_date) values(#{music_index}, #{user_id}, #{music_id}, #{music_name}, SYSDATE())
 	</insert>
 	<select id="getUserList" resultType="MusicPlayList">
 		select * from user_playlist
 			where user_id = #{user_id}
 			order by substr(music_index,instr(music_index,'_')+1)*1
 	</select>
 	<select id="maxIndex" resultType="String">
 		select max(substr(music_index,instr(music_index,'_')+1)*1) from user_playlist
 			where user_id = #{user_id}
 	</select>
 	<select id="getAddList" resultType="MusicPlayList">
 		select * from user_playlist
 			where substr(music_index,instr(music_index,'_')+1)*1 = (select max(substr(music_index,instr(music_index,'_')+1)*1) from user_playlist where user_id=#{user_id})
			and user_id = #{user_id}
 	</select>
 	<select id="google_user" resultType="MusicUserVO">
 		select * from music_user
 			where user_id = #{user_id} and user_email = #{user_email}
 	</select>
 	<delete id="delMusic">
 		delete from user_playlist where music_id = #{music_id} and user_id = #{user_id}
 	</delete>
 	<select id="selectUserTabs" resultType="UserTabs">
 		select * from user_tabs where user_id = #{user_id}
 			order by substr(tab_id,instr(tab_id,'_')+1)*1
 	</select>
 	<select id="maxTabId" resultType="Integer">
 		select max(substr(tab_id,instr(tab_id,'_')+1)*1) from user_tabs
 			where user_id = #{user_id}
 	</select>
 	<insert id="add_Tab">
 		insert into user_tabs(user_id, tab_id, tab_name) values(#{user_id}, #{tab_id}, #{tab_name})
 	</insert>
 	<select id="getMusicInfo" resultType="MusicPlayList">
 		select * from user_playlist where music_id = #{music_id} and user_id = #{user_id}
 	</select>
 	<insert id="addTabMusic">
 		insert into tabs_music(tab_id, tabs_music_id, tabs_music_name, user_id) values(#{tab_id}, #{tabs_music_id}, #{tabs_music_name}, #{user_id})
 	</insert>
 	<select id="tabsMusic" resultType="TabMusicVO">
 		select * from tabs_music where user_id = #{user_id}
 	</select>
 	<delete id="delTab">
 		delete from user_tabs where tab_id = #{tab_id}
 	</delete>
 	<delete id="delTabMusic">
 		delete from tabs_music where tab_id = #{tab_id}
 	</delete>
 	<select id="get_Top100List" resultType="Top100VO"><![CDATA[
 		select * from top_100
 			order by music_ranking
]]></select>
	<delete id="del_SelectMusic">
		delete from tabs_music where tabs_music_id = #{music_id} and user_id = #{user_id}
	</delete>
	<select id="getTop100MusicInfo" resultType="Top100VO">
 		select * from top_100 where music_id = #{music_id}
 	</select>
</mapper>